doctype html
html
  head
    title='ReBurke'
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    link(rel='stylesheet', href='/styles.css')
  body
    div(id='app')
      section
        div(id='product-info')
          div(id='main-photo')
          div(id='reviews')
        div(id='sb')
      div(id='sln')
  script(src=photoScriptUrl)
  script(src=sbScriptUrl)
  script(src=reviewsScriptUrl)
  script(src=slnScriptUrl)
